body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #023047 !important;
}
.bg-success {
  background-color: #dcae1d !important;
}
.bg-info {
  background-color: #023047 !important;
}
.bg-warning {
  background-color: #544505 !important;
}
.bg-danger {
  background-color: #fff0b0 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #023047 !important;
  border-color: #023047 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #02470e !important;
  border-color: #02470e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #023047 !important;
  border-color: #023047 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #dcae1d !important;
  border-color: #dcae1d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #8f7113 !important;
  border-color: #8f7113 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #8f7113 !important;
  border-color: #8f7113 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #544505 !important;
  border-color: #544505 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #020200 !important;
  border-color: #020200 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #020200 !important;
  border-color: #020200 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fff0b0 !important;
  border-color: #fff0b0 !important;
  color: #b08f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #594800 !important;
  background-color: #ffe059 !important;
  border-color: #ffe059 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #b08f00 !important;
  background-color: #ffe059 !important;
  border-color: #ffe059 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #023047;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #023047 !important;
  border-color: #023047 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #02470e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #02470e !important;
  border-color: #02470e !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #023047;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #023047 !important;
  border-color: #023047 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #dcae1d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #8f7113 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #dcae1d !important;
  border-color: #dcae1d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #544505;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #020200 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #544505 !important;
  border-color: #544505 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fff0b0;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffe059 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #b08f00 !important;
  background-color: #fff0b0 !important;
  border-color: #fff0b0 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #023047 !important;
}
.text-secondary {
  color: #02470e !important;
}
.text-success {
  color: #dcae1d !important;
}
.text-info {
  color: #023047 !important;
}
.text-warning {
  color: #544505 !important;
}
.text-danger {
  color: #fff0b0 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #826711 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ffdd4a !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #023047;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #023047;
}
.alert-warning {
  background-color: #544505;
}
.alert-danger {
  background-color: #fff0b0;
}
.mbr-gallery-filter li.active .btn {
  background-color: #023047;
  border-color: #023047;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #023047;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #35b8f9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f8eecd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #35b8f9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f4d44a;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #023047 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #023047;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #023047;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #023047;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #023047;
  border-bottom-color: #023047;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #023047 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #02470e !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23023047' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-ttGSzrEnxY .navbar {
  background: #f1ece4;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-ttGSzrEnxY .navbar-dropdown.bg-color.transparent.opened {
  background: #f1ece4;
}
.cid-ttGSzrEnxY a {
  font-style: normal;
}
.cid-ttGSzrEnxY .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-ttGSzrEnxY .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-ttGSzrEnxY .nav-item:focus,
.cid-ttGSzrEnxY .nav-link:focus {
  outline: none;
}
.cid-ttGSzrEnxY .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-ttGSzrEnxY .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-ttGSzrEnxY .menu-logo {
  margin-right: auto;
}
.cid-ttGSzrEnxY .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-ttGSzrEnxY .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-ttGSzrEnxY .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-ttGSzrEnxY .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-ttGSzrEnxY .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-ttGSzrEnxY .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-ttGSzrEnxY .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-ttGSzrEnxY .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-ttGSzrEnxY .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-ttGSzrEnxY .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-ttGSzrEnxY .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-ttGSzrEnxY .dropdown .dropdown-menu {
  background: #f1ece4;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-ttGSzrEnxY .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-ttGSzrEnxY .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ttGSzrEnxY .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-ttGSzrEnxY .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-ttGSzrEnxY .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-ttGSzrEnxY .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-ttGSzrEnxY .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-ttGSzrEnxY .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-ttGSzrEnxY .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-ttGSzrEnxY .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-ttGSzrEnxY .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-ttGSzrEnxY button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-ttGSzrEnxY button.navbar-toggler:focus {
  outline: none;
}
.cid-ttGSzrEnxY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #00303f;
}
.cid-ttGSzrEnxY button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-ttGSzrEnxY button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-ttGSzrEnxY button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-ttGSzrEnxY button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-ttGSzrEnxY nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-ttGSzrEnxY nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-ttGSzrEnxY nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-ttGSzrEnxY nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-ttGSzrEnxY .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-ttGSzrEnxY .collapsed .btn {
  display: -webkit-flex;
}
.cid-ttGSzrEnxY .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-ttGSzrEnxY .collapsed .navbar-collapse.collapsing,
.cid-ttGSzrEnxY .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-ttGSzrEnxY .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-ttGSzrEnxY .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-ttGSzrEnxY .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-ttGSzrEnxY .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-ttGSzrEnxY .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-ttGSzrEnxY .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-ttGSzrEnxY .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-ttGSzrEnxY .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-ttGSzrEnxY .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-ttGSzrEnxY .collapsed button.navbar-toggler {
  display: block;
}
.cid-ttGSzrEnxY .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-ttGSzrEnxY .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-ttGSzrEnxY .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-ttGSzrEnxY .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-ttGSzrEnxY .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-ttGSzrEnxY .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-ttGSzrEnxY.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-ttGSzrEnxY img {
    height: 3.8rem !important;
  }
  .cid-ttGSzrEnxY .btn {
    display: -webkit-flex;
  }
  .cid-ttGSzrEnxY button.navbar-toggler {
    display: block;
  }
  .cid-ttGSzrEnxY .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-ttGSzrEnxY .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-ttGSzrEnxY .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-ttGSzrEnxY .navbar-collapse.collapsing,
  .cid-ttGSzrEnxY .navbar-collapse.show {
    display: block !important;
  }
  .cid-ttGSzrEnxY .navbar-collapse.collapsing .navbar-nav,
  .cid-ttGSzrEnxY .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-ttGSzrEnxY .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-ttGSzrEnxY .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-ttGSzrEnxY .navbar-collapse.collapsing .navbar-buttons,
  .cid-ttGSzrEnxY .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-ttGSzrEnxY .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-ttGSzrEnxY .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-ttGSzrEnxY .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-ttGSzrEnxY .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-ttGSzrEnxY .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-ttGSzrEnxY .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-ttGSzrEnxY .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-ttGSzrEnxY .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-ttGSzrEnxY .nav-link:hover,
.cid-ttGSzrEnxY .dropdown-item:hover {
  color: #dcae1d !important;
}
.cid-ttGYqtHFIA {
  background-image: url("../../../assets/images/pexels-pavel-danilyuk-6461509-2000x1335.jpg");
}
.cid-ttGYqtHFIA .mbr-section-title {
  text-align: left;
  color: #023047;
}
.cid-ttGYqtHFIA .mbr-text,
.cid-ttGYqtHFIA .mbr-section-btn {
  text-align: left;
  color: #023047;
}
.cid-ttGYqtHFIA .mbr-section-subtitle {
  text-align: left;
  color: #023047;
}
.cid-ttH1BIPB86 {
  padding-top: 7rem;
  padding-bottom: 10rem;
  background-color: #f1ece4;
}
.cid-ttH1BIPB86 .mbr-text {
  color: #023047;
}
.cid-ttH1BIPB86 .mbr-section-title {
  text-align: center;
  color: #023047;
}
.cid-ttH7DO1Y3A {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #f1ece4;
}
.cid-ttH7DO1Y3A img,
.cid-ttH7DO1Y3A .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-ttH7DO1Y3A .item:focus,
.cid-ttH7DO1Y3A span:focus {
  outline: none;
}
.cid-ttH7DO1Y3A .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ttH7DO1Y3A .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #f1ece4;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ttH7DO1Y3A .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ttH7DO1Y3A .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ttH7DO1Y3A .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ttH7DO1Y3A .mbr-section-title {
  color: #023047;
}
.cid-ttH7DO1Y3A .mbr-text,
.cid-ttH7DO1Y3A .mbr-section-btn {
  text-align: left;
  color: #023047;
}
.cid-ttH7DO1Y3A .item-title {
  text-align: left;
  color: #023047;
}
.cid-ttH7DO1Y3A .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-ttH7DO1Y3A .mbr-section-subtitle {
  color: #023047;
}
.cid-ttHaRfOgz1 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #f1ece4;
}
.cid-ttHaRfOgz1 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-ttHaRfOgz1 .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-ttHaRfOgz1 .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-ttHaRfOgz1 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-ttHaRfOgz1 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-ttHaRfOgz1 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-ttHaRfOgz1 .carousel-control,
.cid-ttHaRfOgz1 .close {
  background: #1b1b1b;
}
.cid-ttHaRfOgz1 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-ttHaRfOgz1 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-ttHaRfOgz1 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-ttHaRfOgz1 .carousel-control-next span {
  margin-left: 5px;
}
.cid-ttHaRfOgz1 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-ttHaRfOgz1 .close::before {
  content: '\e91a';
}
.cid-ttHaRfOgz1 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-ttHaRfOgz1 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-ttHaRfOgz1 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ttHaRfOgz1 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ttHaRfOgz1 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-ttHaRfOgz1 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-ttHaRfOgz1 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-ttHaRfOgz1 .carousel-indicators li.active,
.cid-ttHaRfOgz1 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-ttHaRfOgz1 .carousel-indicators li::after,
.cid-ttHaRfOgz1 .carousel-indicators li::before {
  content: none;
}
.cid-ttHaRfOgz1 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-ttHaRfOgz1 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-ttHaRfOgz1 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-ttHaRfOgz1 .carousel-indicators {
    display: none;
  }
}
.cid-ttHaRfOgz1 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-ttHaRfOgz1 .carousel-inner > .active {
  display: block;
}
.cid-ttHaRfOgz1 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ttHaRfOgz1 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-ttHaRfOgz1 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-ttHaRfOgz1 .carousel-control,
  .cid-ttHaRfOgz1 .carousel-indicators,
  .cid-ttHaRfOgz1 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-ttHaRfOgz1 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-ttHaRfOgz1 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-ttHaRfOgz1 .carousel-indicators .active,
.cid-ttHaRfOgz1 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-ttHaRfOgz1 .carousel-indicators .active {
  background: #fff;
}
.cid-ttHaRfOgz1 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-ttHaRfOgz1 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-ttHaRfOgz1 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-ttHaRfOgz1 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-ttHaRfOgz1 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-ttHaRfOgz1 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-ttHaRfOgz1 .carousel {
  width: 100%;
}
.cid-ttHaRfOgz1 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-ttHaRfOgz1 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-ttHaRfOgz1 .modal.fade .modal-dialog,
.cid-ttHaRfOgz1 .modal.in .modal-dialog {
  transform: none;
}
.cid-ttHaRfOgz1 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-ttHaRfOgz1 H6 {
  text-align: center;
}
.cid-ttHaRfOgz1 H3 {
  color: #023047;
}
.cid-ttH9mCIY49 {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-color: #f1ece4;
}
.cid-ttH9mCIY49 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-ttH9mCIY49 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-ttH9mCIY49 .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #023047;
}
.cid-ttH9mCIY49 .panel-body,
.cid-ttH9mCIY49 .card-header {
  padding: 1rem 0;
}
.cid-ttH9mCIY49 .panel-title-edit {
  color: #023047;
}
.cid-ttH9mCIY49 H3 {
  color: #023047;
}
.cid-ttH9mCIY49 .panel-text {
  color: #023047;
}
.cid-ttHbTNwjM9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #023047;
  overflow: hidden;
}
.cid-ttHbTNwjM9 .media-container-row .mbr-text {
  color: #f1ece4;
}
.cid-ucjWttvH9A .navbar {
  background: #f1ece4;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-ucjWttvH9A .navbar-dropdown.bg-color.transparent.opened {
  background: #f1ece4;
}
.cid-ucjWttvH9A a {
  font-style: normal;
}
.cid-ucjWttvH9A .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-ucjWttvH9A .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-ucjWttvH9A .nav-item:focus,
.cid-ucjWttvH9A .nav-link:focus {
  outline: none;
}
.cid-ucjWttvH9A .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-ucjWttvH9A .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-ucjWttvH9A .menu-logo {
  margin-right: auto;
}
.cid-ucjWttvH9A .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-ucjWttvH9A .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-ucjWttvH9A .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-ucjWttvH9A .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-ucjWttvH9A .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-ucjWttvH9A .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-ucjWttvH9A .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-ucjWttvH9A .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-ucjWttvH9A .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-ucjWttvH9A .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-ucjWttvH9A .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-ucjWttvH9A .dropdown .dropdown-menu {
  background: #f1ece4;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-ucjWttvH9A .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-ucjWttvH9A .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ucjWttvH9A .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-ucjWttvH9A .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-ucjWttvH9A .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-ucjWttvH9A .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-ucjWttvH9A .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-ucjWttvH9A .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-ucjWttvH9A .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-ucjWttvH9A .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-ucjWttvH9A .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-ucjWttvH9A button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-ucjWttvH9A button.navbar-toggler:focus {
  outline: none;
}
.cid-ucjWttvH9A button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #00303f;
}
.cid-ucjWttvH9A button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-ucjWttvH9A button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-ucjWttvH9A button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-ucjWttvH9A button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-ucjWttvH9A nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-ucjWttvH9A nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-ucjWttvH9A nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-ucjWttvH9A nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-ucjWttvH9A .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-ucjWttvH9A .collapsed .btn {
  display: -webkit-flex;
}
.cid-ucjWttvH9A .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-ucjWttvH9A .collapsed .navbar-collapse.collapsing,
.cid-ucjWttvH9A .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-ucjWttvH9A .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-ucjWttvH9A .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-ucjWttvH9A .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-ucjWttvH9A .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-ucjWttvH9A .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-ucjWttvH9A .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-ucjWttvH9A .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-ucjWttvH9A .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-ucjWttvH9A .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-ucjWttvH9A .collapsed button.navbar-toggler {
  display: block;
}
.cid-ucjWttvH9A .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-ucjWttvH9A .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-ucjWttvH9A .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-ucjWttvH9A .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-ucjWttvH9A .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-ucjWttvH9A .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-ucjWttvH9A.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-ucjWttvH9A img {
    height: 3.8rem !important;
  }
  .cid-ucjWttvH9A .btn {
    display: -webkit-flex;
  }
  .cid-ucjWttvH9A button.navbar-toggler {
    display: block;
  }
  .cid-ucjWttvH9A .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-ucjWttvH9A .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-ucjWttvH9A .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-ucjWttvH9A .navbar-collapse.collapsing,
  .cid-ucjWttvH9A .navbar-collapse.show {
    display: block !important;
  }
  .cid-ucjWttvH9A .navbar-collapse.collapsing .navbar-nav,
  .cid-ucjWttvH9A .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-ucjWttvH9A .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-ucjWttvH9A .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-ucjWttvH9A .navbar-collapse.collapsing .navbar-buttons,
  .cid-ucjWttvH9A .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-ucjWttvH9A .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-ucjWttvH9A .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-ucjWttvH9A .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-ucjWttvH9A .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-ucjWttvH9A .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-ucjWttvH9A .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-ucjWttvH9A .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-ucjWttvH9A .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-ucjWttvH9A .nav-link:hover,
.cid-ucjWttvH9A .dropdown-item:hover {
  color: #dcae1d !important;
}
.cid-ucjWtunGBC {
  background-image: url("../../../assets/images/pexels-pavel-danilyuk-6461509-2000x1335.jpg");
}
.cid-ucjWtunGBC .mbr-section-title {
  text-align: left;
  color: #023047;
}
.cid-ucjWtunGBC .mbr-text,
.cid-ucjWtunGBC .mbr-section-btn {
  text-align: left;
  color: #023047;
}
.cid-ucjWtunGBC .mbr-section-subtitle {
  text-align: left;
  color: #023047;
}
.cid-ucjWtuXovv {
  padding-top: 7rem;
  padding-bottom: 10rem;
  background-color: #f1ece4;
}
.cid-ucjWtuXovv .mbr-text {
  color: #023047;
}
.cid-ucjWtuXovv .mbr-section-title {
  text-align: center;
  color: #023047;
}
.cid-ucjWtvcPoc {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #f1ece4;
}
.cid-ucjWtvcPoc img,
.cid-ucjWtvcPoc .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-ucjWtvcPoc .item:focus,
.cid-ucjWtvcPoc span:focus {
  outline: none;
}
.cid-ucjWtvcPoc .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ucjWtvcPoc .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #f1ece4;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ucjWtvcPoc .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ucjWtvcPoc .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ucjWtvcPoc .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ucjWtvcPoc .mbr-section-title {
  color: #023047;
}
.cid-ucjWtvcPoc .mbr-text,
.cid-ucjWtvcPoc .mbr-section-btn {
  text-align: left;
  color: #023047;
}
.cid-ucjWtvcPoc .item-title {
  text-align: left;
  color: #023047;
}
.cid-ucjWtvcPoc .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-ucjWtvcPoc .mbr-section-subtitle {
  color: #023047;
}
.cid-ucjWtvD4RB {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #f1ece4;
}
.cid-ucjWtvD4RB .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-ucjWtvD4RB .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-ucjWtvD4RB .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-ucjWtvD4RB .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-ucjWtvD4RB .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-ucjWtvD4RB .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-ucjWtvD4RB .carousel-control,
.cid-ucjWtvD4RB .close {
  background: #1b1b1b;
}
.cid-ucjWtvD4RB .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-ucjWtvD4RB .carousel-control-prev span {
  margin-right: 5px;
}
.cid-ucjWtvD4RB .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-ucjWtvD4RB .carousel-control-next span {
  margin-left: 5px;
}
.cid-ucjWtvD4RB .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-ucjWtvD4RB .close::before {
  content: '\e91a';
}
.cid-ucjWtvD4RB .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-ucjWtvD4RB .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-ucjWtvD4RB .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ucjWtvD4RB .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ucjWtvD4RB .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-ucjWtvD4RB .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-ucjWtvD4RB .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-ucjWtvD4RB .carousel-indicators li.active,
.cid-ucjWtvD4RB .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-ucjWtvD4RB .carousel-indicators li::after,
.cid-ucjWtvD4RB .carousel-indicators li::before {
  content: none;
}
.cid-ucjWtvD4RB .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-ucjWtvD4RB .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-ucjWtvD4RB .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-ucjWtvD4RB .carousel-indicators {
    display: none;
  }
}
.cid-ucjWtvD4RB .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-ucjWtvD4RB .carousel-inner > .active {
  display: block;
}
.cid-ucjWtvD4RB .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ucjWtvD4RB .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-ucjWtvD4RB .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-ucjWtvD4RB .carousel-control,
  .cid-ucjWtvD4RB .carousel-indicators,
  .cid-ucjWtvD4RB .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-ucjWtvD4RB .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-ucjWtvD4RB .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-ucjWtvD4RB .carousel-indicators .active,
.cid-ucjWtvD4RB .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-ucjWtvD4RB .carousel-indicators .active {
  background: #fff;
}
.cid-ucjWtvD4RB .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-ucjWtvD4RB .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-ucjWtvD4RB .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-ucjWtvD4RB .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-ucjWtvD4RB .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-ucjWtvD4RB .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-ucjWtvD4RB .carousel {
  width: 100%;
}
.cid-ucjWtvD4RB .modal-backdrop.in {
  opacity: 0.8;
}
.cid-ucjWtvD4RB .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-ucjWtvD4RB .modal.fade .modal-dialog,
.cid-ucjWtvD4RB .modal.in .modal-dialog {
  transform: none;
}
.cid-ucjWtvD4RB .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-ucjWtvD4RB H6 {
  text-align: center;
}
.cid-ucjWtvD4RB H3 {
  color: #023047;
}
.cid-ucjWtxdDsw {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-color: #f1ece4;
}
.cid-ucjWtxdDsw .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-ucjWtxdDsw .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-ucjWtxdDsw .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #023047;
}
.cid-ucjWtxdDsw .panel-body,
.cid-ucjWtxdDsw .card-header {
  padding: 1rem 0;
}
.cid-ucjWtxdDsw .panel-title-edit {
  color: #023047;
}
.cid-ucjWtxdDsw H3 {
  color: #023047;
}
.cid-ucjWtxdDsw .panel-text {
  color: #023047;
}
.cid-ucjWtxH4XR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #023047;
  overflow: hidden;
}
.cid-ucjWtxH4XR .media-container-row .mbr-text {
  color: #f1ece4;
}
